version: "3.8"

services:
  scraper-web:
    build: .
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
    container_name: scraper-web
    restart: on-failure
    networks:
      - server-network

networks:
  server-network:
    external: true

