version: "3"
services:
  api:
    build: .
    ports:
      - "8000:8000"
    environment:
      - HOST=0.0.0.0
      - PORT=8000
      - APP_NAME=main:app
      - AUTH_SECRET_KEY=
      - AUTH_ALGORITHM=
      - LOG_APP_PATH=/var/log/scraper-anime/app.log
      - LOG_ERROR_PATH=/var/log/scraper-anime/error.log
      - MYSQL_HOST=mysql-db
      - MYSQL_USER=root
      - MYSQL_PASS=
      - MYSQL_PORT=3306
      - MYSQL_DATABASE=
    volumes:
      - ./docker-data/app-logs:/var/log/scraper-anime
    depends_on:
      - mysql-db
    container_name: api
    restart: always
    networks:
      - server-network

  mysql-db:
    image: mysql:9.1.0
    ports:
      - "3306:3306"
    environment:
      - MYSQL_ROOT_PASSWORD=
      - MYSQL_DATABASE=
    volumes:
      - ./docker-data/mysql-logs:/var/log/mysql
      - ./docker-data/mysql-data:/var/lib/mysql
      - ./src/databases/mysql/init.sql:/docker-entrypoint-initdb.d/init.sql
    container_name: mysql-db
    restart: always
    networks:
      - server-network

networks:
  server-network:
    external: true
